

.main-body {    
    margin: 0px;    
    padding: 0px;
 }
 

#header {
    
}

/* for navbar */

.navbar {
    display: flex;
    padding: 0% 9%;
    justify-content: space-between;
   
    
}

.header-logo {
 display: flex;
 align-items: center;
 flex-basis: 40%;
 justify-content: flex-start;
 
}   

.header-link {  
    display: flex;  
    align-items: center;
    justify-content: flex-end;  
    
}

.Features, .Testimonials, .Contact-us {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-weight: 600;
    color: #6C4AB6;
}

.app-logo {
    width: 40px;
    padding-right: 2%;    
    }           
    
    .text-logo {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5em;   
        letter-spacing: .75px; 
        display: inline;
        color: #6C4AB6;      
    }   
/* for navbar */



/* For header body */
.product-image-1 {
min-height: 600px;
max-height: 500px;
flex-grow: 1;

}

.header-body {
display: flex;
padding: 9% 9% 4.5%;
justify-content: space-between;

}

.header-intro {
padding-right: 80px;
}

.header-image { 
flex-grow: 1;
}

.intro-header {
font-family: 'League Spartan', sans-serif;
font-size: 8em;
text-transform: uppercase;
color: #6C4AB6;
font-weight: 700;
margin-bottom: 0 0;
text-align: center;
}

.intro-subtext {
    font-family: 'Montserrat', sans-serif;
    color: #6C4AB6;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
}

/* Buttons */
.signup-button {
    background-color: #6C4AB6; 
  border: none; 
  color: white; 
  font-size: 25px; 
  cursor: pointer; 
  padding: 20px 21px;
  border-radius: 12px;
  min-height: 30px;
  min-width: 120px;
  font-family: 'Josefin Sans', sans-serif;
}

.signup-button:hover {
   background-color: #8D72E1;
   transition: 0.5s;
}

.button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 12px;
    row-gap: 12px;
    
}
/* Buttons */


/* Product-features */
.product-features {
    padding: 4.5% 9%;
    display: flex;
    flex-wrap: wrap;
}

.product-feature-header {
align-items: center;
flex-basis: 100%;
}

.feature-image-1, .feature-image-2, .feature-image-3, .feature-image-4 {
    width: 250px;
}

.feature-1 {
flex-basis: 25%;
}

.feature-2 {
    flex-basis: 25%;
}

.feature-3 {
    flex-basis: 25%;
}

.feature-4 {
    flex-basis: 25%;
}


/* Product-features */

/* For header body */